body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: auto;
    color: white;    
}

.card, #main-data {
    background-color: rgb(175, 175, 175, 0.3);
    border-radius: 5px;
}
