#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4%;
}

#logo {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
        width: 70px;
        height: 70px;
    }
}

#user-timestamp * {
    margin: 3%;
    font-size: 0.9rem;
}

#search-section {
    display: flex;
    gap: 10px;
    left: calc(50% - 20% / 2);
    top: 7%;
}

#search-bar {
    position: relative;
}

#search {
    height: 30px;
    width: 200px;
    box-sizing: border-box;
}


#suggestions {
    position: absolute;
    z-index: 10;
    top: 120%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#cards-section {
    display: flex;
    justify-content: space-between;
    margin: 0 9%;
    .card {
        width: 12%;
        padding: 1%;
    }
}

#main-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto;
    padding: 1%;
    max-width: 80%;                 
    width: 100%;
}

#secondary-data {
    width: 100%;                    /* ensures grid aligns with title-data */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* adjust as needed */
    gap: 10px;
    img {
        width: 50px;
        height: 50px;
    }
}

.scd-info {
    display: flex;
    gap: 20px;
}


